@media (max-width: 900px) {
  .home-container h1.home-mobile-title {
    color: #2a3b4d;
    
    border-radius: 18px;
    padding: 18px 10px 14px 10px !important;
    font-size: 2.1rem;
    font-weight: 800;
    letter-spacing: -1px;
    margin: 0px 0 15px 0 !important;
    width: 100%;
    background: linear-gradient(135deg, #ffe29e, #fab27b) !important;         /* Fondo suave */
    border-top: 1px solid #ccc;          /* Borde gris claro arriba */
     border-bottom: 1px solid #ccc;       /* Borde gris claro abajo */
    text-shadow: 0 1px 0 #fff, 0 2px 8px #e9ecf3;
    text-align: center;
    transition: all 0.2s;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  }
}
